<div class="row">
  <div class="col">
    <%= form_for [:admin, @record] do |f| %>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :year_recorded %>
        <%= f.number_field :year_recorded, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :artist %>
        <%= f.collection_select(:artist_id, Artist.all, :id, :name, { include_blank: false }, class: "form-control") %>
      </div>

      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
